/* custom styles*/
/*global styles*/
#main-content{
	font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	color: #5C553A;
}
h2{
	font-weight: bold;
}
/*header styles*/
header{
	background-color: #ACA77D;
}
#logo{
	width: 100%;
	height: 100%;
}
nav li{
	padding: 0 20px;
}
.nav-item{
	font-size: 24px;
	font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
/*carousel styles*/

/*main*/
#row1{
	margin-top: 50px;
}
/*card row styles*/
#row2{
	display: inline;
	margin: auto;
	padding: 0 120px;
}
.card,.btn{
	border-color: #ACA77D;
	display: inline-block;
}
.btn{
	background-color: #ACA77D;
}
/*aside styles*/
aside li{
	list-style: none;
	padding: 5px 0;
}
a{
	color: black;
}
a:hover{
	text-decoration-line: none;
}
aside ul{
	background-color:	#faf3eb;
}
